body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(25, 27, 127);
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* ใช้ Flexbox */
    flex-direction: column; /* จัดให้อยู่ในคอลัมน์เดียวกัน */
    justify-content: center; /* จัดให้อยู่กลางแนวตั้ง */
    align-items: center; /* จัดให้อยู่กลางแนวนอน */
  }
  

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0d00ff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
